body {
    margin: 0;
}

.content {
    padding: 30px;
    text-align: center;
    font-style: italic;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-button {
    background: none;
    border: none;
    color: #333; /* Adjust the color as needed */
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative; /* Added position:relative to .content-button */
}

.content-button::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: 5px;
    position: absolute; /* Changed position to absolute */
    left: 50%;
    top: -20px; /* Adjusted top position to move above the content */
    transform: translate(-50%, 0);
    transition: left 0.3s ease; /* Added transition to left property */
}

.content-button.next::before {
    border-width: 5px 0 5px 5px; /* Adjusted to point right */
    border-color: transparent transparent transparent #333; /* Adjusted to point right */
}

.content-button.previous::before {
    border-width: 5px 5px 5px 0; /* Adjusted to point left */
    border-color: transparent #333 transparent transparent; /* Adjusted to point left */
}

.content-button.previous:hover::before {
    left: 45%; /* Adjusted the left position for the "Previous" triangle on hover */
}

.content-button.next:hover::before {
    left: 55%; /* Adjusted the left position for the "Next" triangle on hover */
}

.content-button:hover {
    color: #ffcc00; /* Change the color on hover */
}
