@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    background-color: rgb(218, 218, 218);
    /* background-color: white; */
    cursor: crosshair;
    height: 100%;
    color: rgb(31, 31, 31);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   */
    font-family: "Roboto", sans-serif;
    font-weight: 300; 
}

/* body {
    background-image: url(content/gradient-03.png);
    background-size: 100%;
} */
body {
    margin: 0px;
}

h1 {
    color: rgb(31, 31, 31);
    background-color: rgba(175, 171, 171, 0.645);
    /* font-weight: 200; */
    text-align: left;
    padding: 18px;
    margin: 0px;
    border: 2px solid #1f1f1f;
    /* background-color: rgb(31, 31, 31);
    color: rgb(218, 218, 218); */
}

h2 {
    /* color: rgb(31, 31, 31); */
    font-size: 26px;
    font-weight: 300;
    /* padding: 14px 7px; */
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    /* font-size: 16px; */
    font-weight: 300;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 8px;

    /* max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 5px; */
    /* margin-left: auto;
    margin-right: auto; */
}

p {
    max-width: 800px;
    margin: 8px
}

li {
    text-align: left;
    margin: 10px;
}

#title {
    font-size: 28px;
}

footer {
    padding: 30px;
    text-align: center;
    font-style: italic;
    position: relative;
    display: flex;

    justify-content: space-between; /* Add this to space out the buttons */
    align-items: center; /* Add this to vertically center the content and buttons */
}

.footer-content {
    margin: 0 auto; /* Center the text within the footer */
    position: relative;
    display: inline-block; /* Make the span only as wide as its content */
}

.footer-content span::before,
.footer-content span::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%; /* Adjust the width as needed */
    height: 1px; /* Adjust the height or thickness of the line as needed */
    background-color: #333; /* Adjust the line color */
}

.footer-content span::before {
    top:-10px;
}

.footer-content span::after {
    bottom: -10px;
}

/* nav button effects */
/* .button-box {
    padding: 20px;
    text-align: center;
    font-style: italic;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.footer-button {
    background: none;
    border: 1px solid black;
    border-radius: 1%;
    max-width: 100px;
    padding: 8px;
    color: #333; /* Adjust the color as needed */
    font-size: 16px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.6s ease;
    position: relative; /* Added position:relative to .footer-button */
}

.footer-button::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: 5px;
    position: absolute; /* Changed position to absolute */
    left: 50%;
    top: -20px; /* Adjusted top position to move above the content */
    transform: translate(-50%, 0);
    transition: all 0.3s ease; /* Added transition to left property */
}

.footer-button.next::before {
    border-width: 8px 0 8px 8px; /* Adjusted to point right */
    border-color: transparent transparent transparent #333; /* Adjusted to point right */
}

.footer-button.previous::before {
    border-width: 8px 8px 8px 0; /* Adjusted to point left */
    border-color: transparent #333 transparent transparent; /* Adjusted to point left */
}

.footer-button:hover {
    background-color: rgb(31, 31, 31, .25); /* Change the color on hover */
    /* color: rgb(218, 218, 218); */
    border: 1px solid rgb(31, 31, 31);
}

.footer-button.previous:hover::before {
    left: 35%; /* Adjusted the left position for the "Previous" triangle on hover */
}

.footer-button.next:hover::before {
    left: 65%; /* Adjusted the left position for the "Next" triangle on hover */
}
/* end nav button effects */

.menu {
    float:right;
    font-size:20px;
    padding-top: 5px;
    margin: 5px;
    font-style: italic;
    /* color: rgb(31, 31, 31); */
    text-decoration: none;
}

a.links {
    text-decoration: none;
    /* font-size: 22px; */
    color: rgb(31, 31, 31);
    /* color: rgb(218, 218, 218); */
}
/* @media (max-width: 800px) {
    a.links.menu {
        font-size: 3vw;
    }
    a.links.menu:hover {
        font-size:10px;
        display: block;
    }
} */

a.links.menu {
    float: right;
    margin: 10px, 20px;
    transition: color 1s, font-size 1s;
    /* display: inline-block */
}

a.links.menu:hover {
    /* color: rgb(31, 31, 31); */
    font-size: 22px;
    display: block;
}

#selected {
    /* color: rgb(31, 31, 31); */
    font-size: 22px;
    display: block;
}

a.socials {
    color: #664da7;
    text-decoration: underline;
    transition: 1s;
}

a.socials:hover {
    color: rgb(31, 31, 31);
    font-size: 105%;
    transition: 1s;
    /* text-decoration: none; */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10%,1fr));
    gap: 2px;
    /* grid-gap: 2px; 
    row-gap: 0px; */
    margin: 2px;
    /* background-color: rgb(31, 31, 31); */
    /* border: 2px solid rgb(31, 31, 31); */
    /* margin-left: 10%;
    margin-right: 10%; */
}

.item {
    /* border: 2px solid rgb(31, 31, 31); */
    width: 100%; /* Adjust the width as needed */
    /* border-radius: 1%; */
    /* height: 30vw; */
    aspect-ratio: 1;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* max-width: 900px; */
    margin: 0 auto;
}

.gallery {
    height: 350px; /* Set the height as needed */
    margin: 5px 5px; /* Adjust margin to add space between images */
}
.small {
    height: 100px;
    
}
.zoom {
    margin: 5px 5px;
    transition: all 0.7s ease-in-out;
}

.zoom:hover {
    cursor: zoom-in;
    /* transform: scale(1.1); */
    transition: all 0.7s ease-in-out;
}

.description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    line-height: 150%;
    font-size: 18px;
}

.description p{
    text-align: left;
}

.bold {
    font-weight: 400;
}
.italics {
    font-style: italic;
}

.black-section {
    margin: 0;
    background-color: rgb(31, 31, 31);
    color: rgb(218, 218, 218);
}

/* hover effect for portfolio */
.img-responsive {
    object-fit: cover;
    height: 100%;
    object-position: center top;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.hovereffect img {
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

/* Add the following rule for the zoom-in effect on hover */
.hovereffect:hover img {
    transform: scale(1.05);
}

.info-sub {
    color:rgb(218, 218, 218);
    transition: 0.8s;
    transform: translateY(30%);
}

.hovereffect a.info-sub {
    font-size: 1.25vw;
    overflow: hidden;
    width: fit-content;
    color: rgb(218, 218, 218);
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: 0.8s;
    position: relative;
    transform: translateY(30%);
    padding: 7px;
    max-width: 70%;
}

.hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5vw;
    overflow: hidden;
    width: fit-content;
    color: rgb(218, 218, 218);
    border: 1px solid rgb(218, 218, 218);
    background-color: transparent;
    opacity: 100;
    filter: alpha(opacity=0);
    transition: 0.8s;
    position: relative;
    transform: translateY(30%);
    padding: 7px;
    max-width: 50%;
}

.hovereffect a.info:hover {
    background-color: rgba(218, 218, 218, 0.719);
    border: 1px solid rgb(22, 22, 22);
    color: rgb(22, 22, 22);
}

.hovereffect .overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.hovereffect:hover h2,
.hovereffect:hover a.info,
.hovereffect:hover a.info-sub {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.fixed-header {
    position: fixed;
    background-color: rgb(218,218,218);
    border: 2px solid rgb(31, 31, 31);
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0; /* Remove padding to ensure full height coverage */
}

.fixed-header nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px; /* Adjust the height of the header */
}

.fixed-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 100%; /* Ensure ul takes full height */
}

.fixed-header li {
    flex: 1;
    display: flex; /* Ensure li items take full height */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    margin: 0;
    border-right: 2px solid rgb(31, 31, 31); /* Add vertical line */

}

.fixed-header a {
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 20px;
    /* font-weight: 5px; */
    /* font-weight: 300; */
    display: block;
    height: 100%; /* Make the link take full height */
    width: 100%; /* Make the link take full width */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
}

.fixed-header a:hover {
    background-color: rgba(175, 171, 171, 0.645);
    transition: 0.8s;
    /* transform: translateY(-5%); */
    font-size: 21px;
}

#header-selected {
    color: rgb(218,218,218);
    background-color: rgb(31, 31, 31);
}

main {
    padding-top: 50px; /* Adjust this value to match the header height */
}

.hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    position: absolute;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.filter-button {
    padding: 10px;
    /* position: center; */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
    border: none;
    background-color: rgb(218, 218, 218);
    color: rgb(31, 31, 31);
    outline: 2px solid rgb(31, 31, 31);
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-button:hover {
    background-color: rgba(175, 171, 171, 0.645);
    font-size: 21px;
    transition: 0.8s;
}

.filter-button.selected {
    background-color: rgb(31, 31, 31);
    color: rgb(218, 218, 218);
    font-size: 18px;
}
/* .filter-button.selected:hover {
    background-color: rgb(218, 218, 218);
    font-size: 20px;
    transition: 0.8s;
} */


@media only screen and (max-width: 560px) {
    .menu {
        font-size: 4vw;
        padding: 0px;
        margin: 3px
    }
    a.links.menu:hover {
        font-size: 4.5vw;
    }
    .gallery {
        height: auto;
        width: 95%; /*fix this */
    }
    .hovereffect a.info{
        font-size: 1.8vh;
    }
    .hovereffect a.info-sub{
        font-size: 1.5vh;
    }
    #selected {
        /* color: rgb(31, 31, 31); */
        font-size: 4.5vw;
        display: block;
    }
    #title {
        font-size: 4.5vw; 
    }
    #logo.gallery {
        margin: 5px;
        width: 90%;
        height: auto;
    }
    .filter-button {
        font-size: 14px;
        padding: 6px;
        margin: 8px;
    }
    .filter-button:hover{
        font-size: 14px;
        /* background-color: rgb(218, 218, 218);
        color: rgb(31, 31, 31); */
    }
    .filter-button.selected {
        font-size: 12px;
    }
    .fixed-header a{
        font-size: 16px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(10%,1fr));
        gap: 2px;
        margin: 2px;
    }
    .filters text{
        font-size: 12px;
    }
}

@media only screen and (min-width: 560px) {
    #logo {
        height: 300px;
        width: auto;
    }
}

@media only screen and (min-width: 1050px) {
    .grid-layout{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr; /* Adjust these fractions to control the text-to-image width ratio */
        /* grid-template-rows: repeat(auto-fill,200px); */
        gap: 20px;
        /* justify-content: center;
        align-items: center; */
        place-items: center;
    }
    /* .grid-item{
        display: grid;
        place-items: center;
    } */
    .left {
        display: grid;
        grid-column: 2;
        place-items: left;
    }
    .right {
        display: grid;
        grid-column: 3;
        place-items: center;
    }
}